.head {
background-image: url(fond1.jpg);
background-size: cover;
}
.head-img {
    position: relative;
    margin-left: 590px;

}


.head-titulo-h1 {
   color:  #005677;
    background-color:#C4C4C4;
    text-align: center;
    width: 1440px;
height: 60px;

}



.title1-h3 {
    position: relative;
    background-color:#C4C4C4 ;
    width: 1440px;
    height: 50px;
    font-family: 'Bebas Neue', cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 84.69%;
color: #005677;
text-align: left;
}

.title1-p1 {
    
    display: inline;
    font-family: 'Bebas Neue', cursive;
font-style: italic;
font-weight: 700;
font-size: 15px;
line-height: 84.69%;
}
.title1-p2 { 
    display: inline;
}

.title1-p3 {
    display: inline;
    font-family: 'Bebas Neue', cursive;
font-style: italic;
font-weight: 700;
font-size: 15px;
line-height: 84.69%;

}

.title1-p4 {
    display: inline;
}

.title1-p5 {
    display: inline;
    font-family: 'Bebas Neue', cursive;
font-style: italic;
font-weight: 700;
font-size: 15px;
line-height: 84.69%;

}
.title1-p6 {
    display: inline;
}
.title2-h3 {
    position: relative;
    background-color:#C4C4C4 ;
    width: 1440px;
    height: 50px;
    font-family: 'Bebas Neue', cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 84.69%;
color: #005677;
text-align: left;
}
.title2-p1 {
    display: inline;
    font-family: 'Bebas Neue', cursive;
font-style: italic;
font-weight: 700;
font-size: 15px;
line-height: 84.69%
}
.title2-p2{
    display: inline;
}

.title2-p3 {
    display: inline;
    font-family: 'Bebas Neue', cursive;
font-style: italic;
font-weight: 700;
font-size: 15px;
line-height: 84.69%
}
.title2-p4 {
    display: inline;
}
.title3-h3 {
    position: relative;
    background-color:#C4C4C4 ;
    width: 1440px;
    height: 50px;
    font-family: 'Bebas Neue', cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 84.69%;
color: #005677;
text-align: left;
}

.title3-p1 {
    display: inline;
    font-family: 'Bebas Neue', cursive;
font-style: italic;
font-weight: 700;
font-size: 15px;
line-height: 84.69%  
}
.title3-p2 {
    display: inline;
}
.title3-p3 {
    display: inline;
font-family: 'Bebas Neue', cursive;
font-style: italic;
font-weight: 700;
font-size: 15px;
line-height: 84.69%
}
.title3-p4 {
    display: inline;
}


.fot1 {
 
background-color: #005677;
width: 1440px;
height: 37px;
position: relative;
top: 40px;


}

.fot1-p {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 84.69%;
color: #FFFFFf;
position: relative;
left: 600px;
top: 8px;

   }
 


.sobremi {
    background-color:#A2D9CE;
    border: black 1px solid; 
    border-radius: 10px;
    display: inline;
    height: 60px;
    position: relative;
    left: 660px;
    font-size: 35px;

}

.sobremi {
height: 170px;
}

.boton-volver {
    background-color:#A2D9CE;
    border: black 1px solid; 
    border-radius: 10px;
    display: inline;
    height: 60px;
    position: relative;
    left: 630px;
    font-size: 35px;}

.info {
border: black 5px solid;
position: relative;
top: 150px;
}

.info-1 {
    position: relative;
    left: 25px;
}


p{
    font-family: 'Bebas Neue', cursive;
}

.face1 {
position: relative; left: 720px ; bottom: 57px;
font-size: 25px;
text-decoration: none;
}
.inst1 {
    position: relative; left: 755px ; bottom: 84px;
    font-size: 25px;
    text-decoration: none;
}
.linke1{
    position: relative; left: 790px ; bottom: 112px;
    font-size: 25px;
    text-decoration: none;
    outline: none;
    color: black;

}

a {
    text-decoration: none;
    color: black;
    outline: none;
}

li {
list-style: none;
}